<div class="container mt-3">
    <div class="row">
        <div class="col">
            <h1>Cantact Management Application
            <a routerLink="add-contact" class="btn btn-success"><i class="fa-solid fa-user-plus"></i>Add New</a></h1>
             <p class="mt-4" style="text-align:justify;">This is a crud application where you can add edit view or delete your contact details.</p>
            <div class="row">
                <div class="col-lg-6">
                    <form>
                        <input name="searchKey" [(ngModel)]="searchKey" type="text" placeholder="Search Contact Here" class="form-control mt-2">
                    </form>
                </div>
                <!-- <div class="col-lg-6">
                    <input type="button" value="Search" class="btn btn-primary mt-2">
                </div> -->
            </div>
            <!-- <pre>
                {{allContacts}}
            </pre> -->
            <div class="mt-2">
                <div class="row">
                    <div class="col-lg-6 mt-3" *ngFor="let contact of allContacts|filter:searchKey :'name'">
                        <div class="card">
                            <div class="card-body">
                                <div class="row align-items-center">
                                <div class="col-md-3">
                                    <img height=150px width=150px [src]="contact.photo" [alt]="contact.name">
                                </div>
                                <div class="col-md-8">
                                    <ul class="list-group ms-5"> <!-- edited portion-->
                                        <li class="list-group-item">Name:<b>{{contact.name}}</b></li>
                                        <li class="list-group-item">Mobile:<b>{{contact.mobile}}</b></li>
                                        <li class="list-group-item">Email:<b>{{contact.email}}</b></li>
                                    </ul>
                                </div>
                                <div class="col-md-1 d-flex flex-column justify-content-center align-items-center">
                                  <a routerLink="view-contact/{{contact.id}}" class="btn btn-success"><i class="fa-solid fa-eye mt-1"></i></a>
                                  <a routerLink="edit-contact/{{contact.id}}" class="btn btn-warning"><i class="fa-solid fa-pen mt-1"></i></a>
                                  <button (click)="deleteContact(contact.id)" class="btn btn-danger mt-1"><i class="fa-solid fa-trash"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            </div>
    </div>
</div>